﻿@model RestaurantTracker.Models.RestaurantDto

@{
    ViewBag.Title = "Edit";
}


<h2>Edit Restaurant</h2>

<form method="POST" action="/Restaurant/Update/@Model.RestaurantId">
    <div style="display:none">
        <input type="text" name="RestaurantId" value="@Model.RestaurantId" />
    </div>
    <div>
        <label for="name">Restaurant Name: </label>
        <input type="text" id="name" name="RestaurantName" value="@Model.RestaurantName" />
    </div>
    <div>
        <label for="type">Restaurant Type: </label>
        <input type="text" id="type" name="RestaurantType" value="@Model.RestaurantType" />
    </div>
    <div>
        <label for="cuisine">Cuisine: </label>
        <input type="text" id="cuisine" name="cuisine" value="@Model.Cuisine" />
    </div>
    <div>
        <label for="budget">Budget: </label>
        <input type="text" name="budget" value="@Model.Budget" />
    </div>
    <div>
        <input type="submit" value="Update" />
    </div>


</form>

<a href="/Restaurant/Details/@Model.RestaurantId">Cancel</a>
